
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Discounts</title>
</head>
<body>
    <h2>优惠券</h2>
    <table>
        <thead>
            <tr>
                <th>
                    编号
                </th>
                <th>
                    类别
                </th>
                <th>
                    面值
                </th>
                <th>
                    有效期
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
</html>
