
@{
    ViewBag.Title = "Gift";
    Layout = "~/Areas/Manage/Views/Shared/_Main.cshtml";
}

<h2>赠品管理/赠品列表</h2>
<div id="max">
    <table>
        <thead>
            <tr>
                <th>商品编号</th>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>数量</th>
                <th>管理操作</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    商品:<select>
    <option value="0">选择商品</option>

    </select>
</div>

