
@{
    ViewBag.Title = "InsertSales";
    Layout = "~/Areas/Manage/Views/Shared/_Main.cshtml";
}

<h2>满赠促销/添加促销</h2>
<div id="max">
    商品名称:<select>
        <option value="0">选择商品</option>
    </select>
    活动名称：
    <input type="text" />
    <br />
    活动时间：
    <input type="date" />至
    <input type="date" />
    <br />
    最低用户等级：
    <select name="grade">
        <option value="1">铜牌会员</option>
        <option value="2">银牌会员</option>
        <option value="3">金牌会员</option>
    </select>
    <br />
    活动额度
    <input type="number">元
    <br />
    补充额度
    <input type="number">元
    <br />
    状态:
    <input type="radio" name="state" value="start" checked />启动
    <input type="radio" name="state" value="end">暂停
    <button type="button" @@click="submit">提交</button>
</div>
@section Scripts{
    <script>
        var vm = new Vue({
            el: "#max",
            data: {

            }, methods: {
                submit(){
                    alert("提交");
                }
            }
        })
    </script>
}