
@{
    ViewBag.Title = "InsertSales";
    Layout = "~/Areas/Manage/Views/Shared/_Main.cshtml";
}

<h2>满赠促销/添加促销</h2>
<div id="max">
    活动名称：<input type="text"/>
    <br/>
    活动时间：<input type="datetime"/>至<input type="datetime"/>
    <br/>
    最低用户等级：<select name="grade">
    <option value="1"></option>
    </select>
</div>

