
@{
    ViewBag.Title = "PromotionList";
    Layout = "~/Areas/Manage/Views/Shared/_Main.cshtml";
}

<h2>赠品促销管理/促销列表</h2>
<div id="max">
    活动商品:<select>
    </select>
    活动名称:<input type="text"/>
    活动时间:<input type="text"/>
    <button>搜索</button>
    <table>

    </table>
</div>

