
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserList</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div id="max">
        会员等级:<select v-model="grade">
            <option value="1">铜牌会员</option>
            <option value="2">银牌会员</option>
            <option value="3">金牌会员</option>
        </select>
        管理员组：<select name="rgroup" v-model="rgroup">
            <option v-for="rg in rgroups" :value="rg.RG_no">{{rg.RG_name}}
            <option>
        </select>
        用户名:<input type="text" v-model="username"/>
        邮箱:<input type="text" v-model="email"/>
        手机:<input type="text" v-model="phone"/>
        <button type="button" @@click="query">搜索</button>
        <table>
            <thead>
                <tr>
                    <th>编号</th>
                    <th>用户名</th>
                    <th>邮箱手机</th>
                    <th>昵称</th>
                    <th>支付积分</th>
                    <th>权限</th>
                    <th>注册访问</th>
                    <th>管理操作</th>
                </tr>
            </thead>
            <tbody style="border:1px">
                <tr v-for="user in users">
                    <td>{{user.U_no}}</td>
                    <td>{{user.U_username}}</td>
                    <td>{{user.U_no}}</td>
                    <td>{{user.U_nick}}</td>
                    <td>{{user.U_ji}}</td>
                    <td>{{user.RG_no}}</td>
                    <td>{{user.U_regtime | formDate}}<br />{{user.U_logintime | formDate}}</td>
                    <td><a href="javascript:" @@click="edit(user.U_no)">编辑</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        Vue.filter("formDate", (oldDate) => {
            var date = new Date(oldDate);
            var y = date.getFullYear();
            var m = (date.getMonth() + 1);
            var d = date.getDate();
            var h = date.getHours();
            var mm = date.getMinutes();
            return `${y}/${m}/${d} ${h}:${mm}`;
        })
        var vm = new Vue({
            el: "#max",
            data: {
                grade: 1,
                rgroup:0,
                username: "",
                email: "",
                phone:"",
                users: JSON.parse('@Html.Raw(ViewData["Userinfos"])'),
                rgroups: JSON.parse('@Html.Raw(ViewData["infos"])').RGroups
            }, methods: {
                edit(uid) {

                },
                query() {
                    $.ajax({
                        url: "GetUsers",
                        data: { grade: vm.grade, rgroup: vm.rgroup,username:vm.username,email:vm.email,phone:vm.phone },
                        type: "post",
                        dataType: "json",
                        success: (result) => {
                            vm.users = result;
                        }
                    })
                }
            }
        });
    </script>
</body>
</html>
